<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoneol.mpost" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DealActivity"
            android:label="@string/title_activity_deal" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activity.SettingExpandableListViewActivity"
            android:label="@string/title_activity_setting_expandable_list_view" >
        </activity>
        <activity
            android:name=".activity.SettingKeyValueActivity"
            android:label="@string/title_activity_setting_key_value" >
        </activity>
        <activity
            android:name=".activity.SettingAppActivity"
            android:label="@string/title_activity_setting_app" >
        </activity>
    </application>

</manifest>
